/* ChatSidebar.css */
.chat-sidebar {
    flex: 1;
    background-color: #2c3e50;
    color: #fff;
    
    display: flex;
    flex-direction: column;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 6px;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
  }
  














  
  .filter-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 30px;
  }
  
  .chats-list {
    overflow-y: auto;
    
    
  }
  
  .chat-item {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 3px;
    background-color: #009ba0;

    border-radius: 3px;
  
    &:hover {
      background-color: #4091e2;
      
      
      margin: 3px;
    }
  
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
  
    .chat-info {
      flex: 1;
    }
  
    .chat-name {
      font-weight: bold;
    }
  
    .last-message {
      color: #95a5a6;
    }
   .profile-icons{



    background-color: #34495e;
    padding: 5px;

   }





/* ChatSidebar.css */

.chat-sidebar {
  flex: 1;
  background-color: #2c3e50;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Custom styles for scrollbar */
.chat-sidebar::-webkit-scrollbar {
  width: 8px;
}

.chat-sidebar::-webkit-scrollbar-thumb {
  background-color: #34495e;
  border-radius: 4px;
}

.chat-sidebar::-webkit-scrollbar-track {
  background-color: #2c3e50;
}

/* Optional: Show scrollbar only on hover */
.chat-sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #2e4053;
}




















  }
  