/* App.css */
.app {
  display: flex;
  flex-direction: column;
  
  height: 93vh;
  font-family: 'Arial', sans-serif;
  margin: 20px;
  
}

.head-container{


  display: flex;
  width: 100%;
  justify-content: center;
}
.app.js_chat_header{

  width: auto;
  padding: 20px;
}

.app.js_message_header{

  width: 50%;

}


.header {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.chat-container {
  display: flex;
  height: calc(100% - 40px); /* Subtract header height */
}

/* Set styles for chat sidebar */
.chat-sidebar {
  flex: 1;
  background-color: #00491c;
  color: #fff;
  padding: 10px;
}

/* Set styles for message display */
.message-display {
  flex: 3;
  background-color: #ecf0f1;
  padding: 10px;
  overflow-y: auto;
}
